[
    {
        "name": "chacha test, little endian 32-bit (x86)",
        "main": "chacha_test",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config"
    },
    {
        "name": "chacha test, little endian 64-bit (x86)",
        "main": "chacha_test",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config"
    },
    {
        "name": "chacha test, big endian 32-bit (PPC32)",
        "main": "chacha_test",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config"
    },
    {
        "name": "chacha test, big endian 64-bit (PPC64)",
        "main": "chacha_test",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config"
    },
    {
        "name": "chacha test, little endian 32-bit (x86)",
        "main": "chacha_test",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "chacha test, little endian 64-bit (x86)",
        "main": "chacha_test",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "chacha test, big endian 32-bit (PPC32)",
        "main": "chacha_test",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "no-results": true,
        "val-timeout": 10800
    },
    {
        "name": "chacha test, big endian 64-bit (PPC64)",
        "main": "chacha_test",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "no-results": true,
        "val-timeout": 10800
    }
]