[
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "error_test",
        "name": "'error_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "error_test",
        "name": "'error_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "error_test",
        "name": "'error_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "base64_test",
        "name": "'base64_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "base64_test",
        "name": "'base64_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "base64_test",
        "name": "'base64_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "asn_test",
        "name": "'asn_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "asn_test",
        "name": "'asn_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "asn_test",
        "name": "'asn_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "random_test",
        "name": "'random_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "random_test",
        "name": "'random_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "random_test",
        "name": "'random_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "md5_test",
        "name": "'md5_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "md5_test",
        "name": "'md5_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "md5_test",
        "name": "'md5_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "sha_test",
        "name": "'sha_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "sha_test",
        "name": "'sha_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "sha_test",
        "name": "'sha_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "sha224_test",
        "name": "'sha224_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "sha224_test",
        "name": "'sha224_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "sha224_test",
        "name": "'sha224_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "sha256_test",
        "name": "'sha256_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "sha256_test",
        "name": "'sha256_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "sha256_test",
        "name": "'sha256_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "sha384_test",
        "name": "'sha384_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "sha384_test",
        "name": "'sha384_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "sha384_test",
        "name": "'sha384_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/sha256.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_32",
        "main": "sha512_test",
        "name": "'sha512_test' from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_x86_64",
        "main": "sha512_test",
        "name": "'sha512_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tis/test.c", "wolfcrypt/test/test.c", "tis/stub.c", "wolfcrypt/src/random.c", "wolfcrypt/src/error.c", "wolfcrypt/src/tfm.c", "wolfcrypt/src/wc_port.c", "wolfcrypt/src/memory.c", "wolfcrypt/src/asn.c", "wolfcrypt/src/coding.c", "wolfcrypt/src/md5.c", "wolfcrypt/src/sha.c", "wolfcrypt/src/sha512.c", "wolfcrypt/src/sha3.c" ],
        "filesystem": { "files": [{ "from": "./tis/urandom_1", "name": "/dev/urandom" }] },
        "machdep": "gcc_ppc_64",
        "main": "sha512_test",
        "name": "'sha512_test' from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "wolfcrypt/test/test.c",
            "tis/stub.c",
            "wolfcrypt/src/random.c",
            "wolfcrypt/src/sha256.c",
            "wolfcrypt/src/error.c",
            "wolfcrypt/src/tfm.c",
            "wolfcrypt/src/wc_port.c",
            "wolfcrypt/src/memory.c",
            "wolfcrypt/src/asn.c",
            "wolfcrypt/src/coding.c",
            "wolfcrypt/src/md5.c",
            "wolfcrypt/src/sha.c",
            "wolfcrypt/src/sha512.c",
            "wolfcrypt/src/sha3.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "machdep": "gcc_x86_32",
        "name": "MAIN test from 'wolfcrypt/test/test.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "wolfcrypt/test/test.c",
            "tis/stub.c",
            "wolfcrypt/src/random.c",
            "wolfcrypt/src/sha256.c",
            "wolfcrypt/src/error.c",
            "wolfcrypt/src/tfm.c",
            "wolfcrypt/src/wc_port.c",
            "wolfcrypt/src/memory.c",
            "wolfcrypt/src/asn.c",
            "wolfcrypt/src/coding.c",
            "wolfcrypt/src/md5.c",
            "wolfcrypt/src/sha.c",
            "wolfcrypt/src/sha512.c",
            "wolfcrypt/src/sha3.c",
            "wolfcrypt/src/hash.c",
            "wolfcrypt/src/hmac.c",
            "wolfcrypt/src/aes.c",
            "wolfcrypt/src/chacha.c",
            "wolfcrypt/src/chacha20_poly1305.c",
            "wolfcrypt/src/poly1305.c",
            "wolfcrypt/src/rsa.c",
            "wolfcrypt/src/wc_encrypt.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "MAIN test from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "wolfcrypt/test/test.c",
            "tis/stub.c",
            "wolfcrypt/src/random.c",
            "wolfcrypt/src/sha256.c",
            "wolfcrypt/src/sha512.c",
            "wolfcrypt/src/sha3.c",
            "wolfcrypt/src/error.c",
            "wolfcrypt/src/tfm.c",
            "wolfcrypt/src/wc_port.c",
            "wolfcrypt/src/memory.c",
            "wolfcrypt/src/asn.c",
            "wolfcrypt/src/coding.c",
            "wolfcrypt/src/md5.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                }
            ]
        },
        "machdep": "gcc_ppc_64",
        "name": "MAIN test from 'wolfcrypt/test/test.c' big endian 64-bit (PPC64)"
    },


    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "tests/unit.c",
            "tis/stub.c",
            "tests/api.c",
            "tests/hash.c",
            "tests/srp.c",
            "src/ssl.c",
            "src/tls.c",
            "wolfcrypt/src/memory.c",
            "wolfcrypt/src/wc_port.c",
            "src/internal.c",
            "wolfcrypt/src/aes.c",
            "wolfcrypt/src/asn.c",
            "wolfcrypt/src/ecc.c",
            "wolfcrypt/src/md5.c",
            "wolfcrypt/src/random.c",
            "wolfcrypt/src/sha.c",
            "wolfcrypt/src/sha256.c",
            "wolfcrypt/src/sha512.c",
            "wolfcrypt/src/sha3.c",
            "wolfcrypt/src/coding.c",
            "wolfcrypt/src/hash.c",
            "wolfcrypt/src/rsa.c",
            "wolfcrypt/src/tfm.c"
        ],
        "filesystem": {
            "files": [
                {
                    "name": "./certs/ntru-key.raw"
                },
                {
                    "from": "./certs/server-cert.pem",
                    "name": "./certs/server-cert.pem"
                },
                {
                    "from": "./certs/server-key.pem",
                    "name": "./certs/server-key.pem"
                },
                {
                    "from": "./certs/ca-cert.pem",
                    "name": "./certs/ca-cert.pem"
                },
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                },
                {
                    "from": "./tis/null_1",
                    "name": "/dev/null"
                }
            ]
        },
        "machdep": "gcc_x86_32",
        "name": "MAIN test from 'tests/unit.c' little endian 32-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "tests/unit.c",
            "tis/stub.c",
            "tests/api.c",
            "tests/hash.c",
            "tests/srp.c",
            "src/ssl.c",
            "src/tls.c",
            "wolfcrypt/src/memory.c",
            "wolfcrypt/src/wc_port.c",
            "src/internal.c",
            "wolfcrypt/src/aes.c",
            "wolfcrypt/src/asn.c",
            "wolfcrypt/src/ecc.c",
            "wolfcrypt/src/md5.c",
            "wolfcrypt/src/random.c",
            "wolfcrypt/src/sha.c",
            "wolfcrypt/src/sha256.c",
            "wolfcrypt/src/sha512.c",
            "wolfcrypt/src/sha3.c",
            "wolfcrypt/src/coding.c",
            "wolfcrypt/src/hash.c",
            "wolfcrypt/src/rsa.c",
            "wolfcrypt/src/tfm.c"
        ],
        "filesystem": {
            "files": [
                {
                    "name": "./certs/ntru-key.raw"
                },
                {
                    "from": "./certs/server-cert.pem",
                    "name": "./certs/server-cert.pem"
                },
                {
                    "from": "./certs/server-key.pem",
                    "name": "./certs/server-key.pem"
                },
                {
                    "from": "./certs/ca-cert.pem",
                    "name": "./certs/ca-cert.pem"
                },
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                },
                {
                    "from": "./tis/null_1",
                    "name": "/dev/null"
                }
            ]
        },
        "machdep": "gcc_x86_64",
        "name": "MAIN test from 'tests/unit.c' little endian 64-bit (x86)"
    },
    {
        "compilation_cmd": " -I . -Dvolatile= -DWOLFSSL_UNALIGNED_64BIT_ACCESS",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "tests/unit.c",
            "tis/stub.c",
            "tests/api.c",
            "tests/hash.c",
            "tests/srp.c",
            "src/ssl.c",
            "src/tls.c",
            "wolfcrypt/src/memory.c",
            "wolfcrypt/src/wc_port.c",
            "src/internal.c",
            "wolfcrypt/src/aes.c",
            "wolfcrypt/src/asn.c",
            "wolfcrypt/src/ecc.c",
            "wolfcrypt/src/md5.c",
            "wolfcrypt/src/random.c",
            "wolfcrypt/src/sha.c",
            "wolfcrypt/src/sha256.c",
            "wolfcrypt/src/sha512.c",
            "wolfcrypt/src/sha3.c",
            "wolfcrypt/src/coding.c",
            "wolfcrypt/src/hash.c",
            "wolfcrypt/src/rsa.c",
            "wolfcrypt/src/tfm.c"
        ],
        "filesystem": {
            "files": [
                {
                    "name": "./certs/ntru-key.raw"
                },
                {
                    "from": "./certs/server-cert.pem",
                    "name": "./certs/server-cert.pem"
                },
                {
                    "from": "./certs/ca-cert.pem",
                    "name": "./certs/ca-cert.pem"
                },
                {
                    "from": "./certs/server-key.pem",
                    "name": "./certs/server-key.pem"
                },
                {
                    "from": "./tis/urandom_1",
                    "name": "/dev/urandom"
                },
                {
                    "from": "./tis/null_1",
                    "name": "/dev/null"
                }
            ]
        },
        "machdep": "gcc_ppc_64",
        "name": "MAIN test from 'tests/unit.c' big endian 64-bit (PPC64)"
    }
]
