[
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "error_test",
        "name": "'error_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "base64_test",
        "name": "'base64_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "base16_test",
        "name": "'base16_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "asn_test",
        "name": "'asn_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "md2_test",
        "name": "'md2_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "md5_test",
        "name": "'md5_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "md4_test",
        "name": "'md4_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "sha_test",
        "name": "'sha_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "sha224_test",
        "name": "'sha224_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "sha256_test",
        "name": "'sha256_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "sha512_test",
        "name": "'sha512_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "sha384_test",
        "name": "'sha384_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "sha3_test",
        "name": "'sha3_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "shake256_test",
        "name": "'shake256_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hash_test",
        "name": "'hash_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hmac_md5_test",
        "name": "'hmac_md5_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hmac_sha_test",
        "name": "'hmac_sha_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hmac_sha224_test",
        "name": "'hmac_sha224_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hmac_sha256_test",
        "name": "'hmac_sha256_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hmac_sha384_test",
        "name": "'hmac_sha384_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hmac_sha512_test",
        "name": "'hmac_sha512_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hmac_sha3_test",
        "name": "'hmac_sha3_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hkdf_test",
        "name": "'hkdf_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "x963kdf_test",
        "name": "'x963kdf_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "arc4_test",
        "name": "'arc4_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "rc2_test",
        "name": "'rc2_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "hc128_test",
        "name": "'hc128_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "rabbit_test",
        "name": "'rabbit_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "chacha_test",
        "name": "'chacha_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "XChaCha_test",
        "name": "'XChaCha_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "chacha20_poly1305_aead_test",
        "name": "'chacha20_poly1305_aead_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "XChaCha20Poly1305_test",
        "name": "'XChaCha20Poly1305_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "des_test",
        "name": "'des_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "des3_test",
        "name": "'des3_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "aes_test",
        "name": "'aes_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "aes192_test",
        "name": "'aes192_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "aes256_test",
        "name": "'aes256_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "aesofb_test",
        "name": "'aesofb_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "cmac_test",
        "name": "'cmac_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "poly1305_test",
        "name": "'poly1305_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "aesgcm_test",
        "name": "'aesgcm_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "aesgcm_default_test",
        "name": "'aesgcm_default_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "gmac_test",
        "name": "'gmac_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "aesccm_test",
        "name": "'aesccm_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "aeskeywrap_test",
        "name": "'aeskeywrap_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "camellia_test",
        "name": "'camellia_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "rsa_no_pad_test",
        "name": "'rsa_no_pad_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "rsa_test",
        "name": "'rsa_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "dh_test",
        "name": "'dh_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "dsa_test",
        "name": "'dsa_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "srp_test",
        "name": "'srp_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "random_test",
        "name": "'random_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pwdbased_test",
        "name": "'pwdbased_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "ripemd_test",
        "name": "'ripemd_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pbkdf1_test",
        "name": "'pbkdf1_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pkcs12_test",
        "name": "'pkcs12_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pbkdf2_test",
        "name": "'pbkdf2_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "scrypt_test",
        "name": "'scrypt_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "ecc_test",
        "name": "'ecc_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "ecc_encrypt_test",
        "name": "'ecc_encrypt_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "curve25519_test",
        "name": "'curve25519_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "ed25519_test",
        "name": "'ed25519_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "curve448_test",
        "name": "'curve448_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "ed448_test",
        "name": "'ed448_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "blake2b_test",
        "name": "'blake2b_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "blake2s_test",
        "name": "'blake2s_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "compress_test",
        "name": "'compress_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pkcs7encrypted_test",
        "name": "'pkcs7encrypted_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pkcs7compressed_test",
        "name": "'pkcs7compressed_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pkcs7signed_test",
        "name": "'pkcs7signed_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pkcs7enveloped_test",
        "name": "'pkcs7enveloped_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pkcs7authenveloped_test",
        "name": "'pkcs7authenveloped_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "pkcs7callback_test",
        "name": "'pkcs7callback_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "cert_test",
        "name": "'cert_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "certext_test",
        "name": "'certext_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "decodedCertCache_test",
        "name": "'decodedCertCache_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "idea_test",
        "name": "'idea_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "memory_test",
        "name": "'memory_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "mp_test",
        "name": "'mp_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "prime_test",
        "name": "'prime_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "berder_test",
        "name": "'berder_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "logging_test",
        "name": "'logging_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "mutex_test",
        "name": "'mutex_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "memcb_test",
        "name": "'memcb_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "blob_test",
        "name": "'blob_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "cryptocb_test",
        "name": "'cryptocb_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "certpiv_test",
        "name": "'certpiv_test' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    },
    {
        "include": "trustinsoft/common.config",
        "compilation_database": [
            "compile_commands.json"
        ],
        "include": "trustinsoft/gcc_x86_64.config",
        "main": "main",
        "name": "'main' from 'wolfcrypt/test/test.c' little endian 64-bit (x86)"
    }
]